.seccion {
    background-image: url(img/contacto-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.ancho{
    width: 392px;
}

.boton {
    font-size: 25px;
}

.titular {
    padding-left: 0%;
    margin-left: 0px;
}

.sombra {
    -webkit-box-shadow: 30px 30px 27px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 30px 30px 27px 0px rgba(0,0,0,0.75);
    box-shadow: 30px 30px 27px 0px rgba(0,0,0,0.75);
}
