* {
    padding: 0%;
    margin: 0%;
}

.section {
    height: 100vh;
}
.principal {
    
    background-image: url(img/wallpapers/fondo.png);
}

.nombre {
    height: 75px;
    width: 75px;
}

.foto {
    height:  225px;
    width: 323px;
}

.subtitle{
    color: #ffc400;
}
